/*GENERALES--------------------------------------------------------------------------------*/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background-color:#F2F7FF;
}


/*LETRAS-----------------------------------------------------------------------------------*/
.font-violeta{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.3px;
color: #7C3AED;
}
.title-admin{
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 54px;
display: flex;
align-items: center;
color: #32325D;
}
.subtitle-admin{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
font-feature-settings: 'liga' off;
color: #000000;
}
.title-inicio-register{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 150px;
line-height: 72px;
text-align: center;
letter-spacing: -0.025em;
font-feature-settings: 'liga' off;
color: #111827;
}

.gray-font{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #525F7F;
mix-blend-mode: normal;
opacity: 0.5;
}

.text-btn-aceptado{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.3px;
color: #056F1C;
}

.text-btn-rechazado{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.3px;
color: #FF0000;
}
/*NAVBAR--------------------------------------------------------------------------------------------------------*/
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
}

.menu_items{
    display: flex;
    margin-right: 5%;
    gap: 30px;
}

.menu_items li{
    list-style: none;
    margin: 11px 0px;
}

.menu_items li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu i{
    font-size: 36px;
    color: #fff;
    display: none;

}
#toggle-menu{
    display:none;
}

/*BOTONES--------------------------------------------------------------------------------------------------------*/
.btn-administracion{
background: #FFFFFF;
box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
border-radius: 4px;
}

.btn-inicio-register{
background: #7C3AED;
border-radius: 8px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
}
.btn-perfiles{
background: #FFFFFF;
box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
border-radius: 4px;
}


/*REGISTER*/
.input-register{
background: #FFFFFF;
border: 1px solid #CAD1D7;
border-radius: 4px;
box-sizing: border-box;
}

.input-register-text{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #374151;
}

.background-register{
background: #FFFFFF;
box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
border-radius: 4px;
}


/*CURRICULUMS ADMIN*/
.card-curriculums{
background: #FFFFFF;
border: 1px solid #5E72E4;
border-radius: 4px;
}
.card-font-title-universitary{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
}

.card-font-name{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #32325D;
}

.card-font-general{
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 27px;
display: flex;
align-items: center;
text-align: justify;
color: #32325D;
}
